extends layout

block content
  header.w3-container.w3-blue-grey
    h1 Classe #{classe.codigo} - Nível #{classe.nivel}
  .w3-container.w3-padding
    b Título:
    span  #{classe.titulo}
    p
      b Descrição: 
      span  #{classe.descricao}
    p
      b Status: 
      span  #{classe.status}
    if desc.length
      p
        b Descendentes: 
        ul
          each d in desc
            li 
              adress
                a(href=`/classe/c${d.codigo}`) #{d.codigo}
              span  - #{d.titulo}
    if classe.nivel == 3
        b Termos de Indice: 
        ul
          each p in desc
              li 
                adress
                  a(href=`/termosIndice/${p.termosInd}`) #{p.termosInd} 
  footer.w3-container.w3-blue-grey.w3-padding-medium
    address.w3-padding-16
        a(href=`/`) Página inicial
        a(href="javascript:history.back()").w3-right Voltar atrás

    